
.navbar-header-wrapper{
    background-image: url("../../assets/Images/BackgroundImages/header_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    
    width: 100%;
    height: 100vh;  
   
}
