@font-face {
    font-family: 'prima-nova';
    src: url('C:\Users\Korisnik\Desktop\Gentlemans_Groom\barbershoop\src\assets\Fonts\Fontspring-DEMO-proximanova-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'prima-nova-bold';
    src: url('C:\Users\Korisnik\Desktop\Gentlemans_Groom\barbershoop\src\assets\Fonts\Fontspring-DEMO-proximanova-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'prima-nova-italic';
    src: url('C:\Users\Korisnik\Desktop\Gentlemans_Groom\barbershoop\src\assets\Fonts\Fontspring-DEMO-proximanova-thinit.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}